// Overrides of existing classes
.carousel {
  .carousel-item {
    background-size: cover;
    background-position: center;
    height: 30vh;

    @media (min-width: 768px) {
      height: 40vh;
      .hero-title {
        font-weight: 600;
      }
    }

    @media (min-width: 1200px) {
      height: 50vh;

      .hero-title {
        text-align: center;
        margin-bottom: 50px;
      }
    }

    .container {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }
  }
}

// Styling of custom classes
.image_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .image_link--disabled {
    cursor: default;
    pointer-events: none;
  }
}

.logos {
  margin-bottom: 60px;

  @media (min-width: 768px) {
    margin-bottom: 110px;
  }

  img {
    padding-left: 20px;
    padding-right: 20px;
    max-height: 60px;

    @media (min-width: 768px) {
      max-height: 88px;
    }
  }
}

.sponsors {
  margin-top: -20px;
  margin-bottom: -20px;

  @media (min-width: 768px) {
    margin-top: -30px;
    margin-bottom: -30px;
  }

  img {
    padding: 20px;
    max-height: 120px;

    @media (min-width: 768px) {
      padding: 30px;
    }

    @media (min-width: 1200px) {
      max-height: 140px;
    }
  }
}
