{{/* Get album folder or default to `media/albums/gallery/`. */}}
{{ $album := (.Get "album") | default "gallery" }}
{{ $album_path := path.Join "media" $album "*" }}

{{/* Gallery options */}}
{{ $sort_order := .Get "order" | default "asc" }}

<div class="gallery sponsors">
  {{/* Attempt to automatically load gallery images from page bundle */}}
  {{ $images := resources.Match $album_path }}
  {{ range (sort $images "Name" $sort_order) }}
  {{ $image := . }}
  {{/* Check if the user set a caption for this image */}}
  {{ $filename := path.Base .Name }}

  <img src="{{ $image.RelPermalink }}" loading="lazy" alt="" />

  {{ end }}
</div>
